@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Zoek kaarten</h2>

<form method="get">
    <div class="mb-3">
        <input asp-for="SearchText" class="form-control" placeholder="Zoek een kaart..." />
    </div>
    <button type="submit" class="btn btn-primary">Zoeken</button>
</form>